#capPageCarousel {
  position: relative;
  height: 280px;
}
#capPageCarousel > div {
  width: 500px;
  height: 281px;
  background: #333;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
#capPageCarousel > div > img {
  height: 100%;
  width: 100%;
}
.click-shield {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000000
}
.items {
  position: absolute;
}
.front {
  z-index: 3000;
}
.back {
  margin-left: 2em !important;
  opacity: 0.05;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
.left {
  opacity: 0.3;
  margin-left: -17em !important;
  z-index: 1000;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}
.right {
  opacity: 0.3;
  margin-left: 17em !important;
  z-index: 1000;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}
