.capabilities-listing-header {
  color: #fad150;
  font-family: Metropolis;
  font-size: 36px;
  font-weight: 200;
  line-height: 40px;
  text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.74), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.capabilities-list {
  padding-left: 20px;
  li {
    color: #fefffe;
    font-family: Ashbury;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
  }
}
