#footer {
  position: absolute;
  bottom: 2%;
  width: 100%;
  z-index: 999;
}

#footer a {
  text-decoration: underline;
  color: $white;
}
.phone {
  text-decoration: none !important;
  :hover {
    color: $link-yellow;
  }
}
.address {
  text-decoration: none !important;
  :hover {
    color: $link-yellow !important;
  }
}