#footer {
  position: absolute;
  bottom: 2%;
  width: 100%;
  z-index: 999;
}

#careersLink{
  color: $white;

  &:hover {
    color: $link-yellow
  }
  font-family: $Metropolis;
  font-size: 1.15vmax;
  font-weight: 200;
  line-height: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}
.phone {
  color: $white;
  font-family: $Metropolis;
  font-size: 1.15vmax;
  font-weight: 200;
  line-height: 1.7vmax;
  text-decoration: none !important;
  &:hover {
    color: $link-yellow !important;
  }
}
.address {
  color: $white;
  font-family: $Metropolis;
  font-size: 1.15vmax;
  font-weight: 200;
  line-height: 1.7vmax;
  text-decoration: none !important;
  &:hover {
    color: $link-yellow !important;
  }
}
.copyright {
  color: $white;
  font-family: $Metropolis;
  font-size: 1.15vmax;
  font-weight: 200;
  line-height: 1.7vmax;
}
