#footer {
  position: absolute;
  bottom: 2%;
  width: 100%;
  z-index: 999;
}

#careersLink{
  color: $white;
  font-family: $Metropolis;
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}
.phone {
  color: $white;
  font-family: $Metropolis;
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  text-decoration: none !important;
  &:hover {
    color: $link-yellow;
  }
}
.address {
  color: $white;
  font-family: $Metropolis;
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  text-decoration: none !important;
  &:hover {
    color: $link-yellow !important;
  }
}
