#founderImage {
  height: 25vh;
}
#familyImage {
  max-width: 755px;
  max-height: 358px;
  width: auto;
  height: 35vh;
}
.values-hero {
  width: 100%;
  height: auto;
}
.parts-panel.active {
  opacity: 1;
  z-index: 2;
}
.parts-panel.inactive {
  opacity: 0;
  z-index: 1;
}
.slide-show-img-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 80px;
  width: 200px;
}
.home-slider-image {
  max-width: auto;
  height: auto;
}
.slideshow {
  width: auto;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  height: 200px;
  width: 100%;
  max-width: 500px;
}
.slideshow-row {
  // animation: moveSlideshow 30s linear infinite;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: 700px;
}
@keyframes moveSlideshow {
  100% {
    transform: translateX(-1800px);
  }
}
.slide-show-img-container {
  position: absolute;
  right: 0;
  animation-name: slip-n-slide;
  animation-duration: 33.33s;
  animation-timing-function: linear;
  animation-iteration-count: infinite
}
@keyframes slip-n-slide {
  0% {opacity: 0; right: 0}
  10% {opacity: 0}
  12%, 23% {opacity: 1}
  25% {opacity: 0}
  50% {right: 1000px}
  100% {opacity: 0; right: 1000px}
}

// to quickly regenerate these, run this js in repl or browser
// for (let i = 0; i < 9; i++) {console.log(`.stagger-${i} {animation-delay: ${i * 3.7033}s}`)}
.stagger-0 {animation-delay: 0s}
.stagger-1 {animation-delay: 3.70s}
.stagger-2 {animation-delay: 7.41s}
.stagger-3 {animation-delay: 11.11s}
.stagger-4 {animation-delay: 14.81s}
.stagger-5 {animation-delay: 18.52s}
.stagger-6 {animation-delay: 22.22s}
.stagger-7 {animation-delay: 25.92s}
.stagger-8 {animation-delay: 29.63s}

#logo {
  z-index: 999;
  position: absolute;
  left: 45px;
  top: 20px;
  max-width: 336px;
  width: 20vw;
}
@media (max-width: 576px) {
  #logo {
    height: 50px;
    width: 170px;
    top: 20px;
    left: 20px;
  }
}
