@media (max-width: 991.99px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: 25px;
    width: 100%;
    z-index: 999;
  }
  nav a {
    color: $white !important;
    font-family: $Metropolis;
    font-size: 24px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
  }
  .collapsing {
    transition: none;
    height: 80vh !important;
  }
  .collapse:not(.show).navbar-collapse {
    background-color: #0b2d55;
    height: 80vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    > #windstop {
      > img {
        height: 225vw !important;
      }
    }
  }
  .collapse.show.navbar-collapse {
    background-color: #0b2d55;
    background-size: 200vw;
    display: flex;
    height: 80vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    > #windstop {
      > img {
        height: 225vw !important;
      }
    }
  }
}
@media (min-width: 992px) {
  .navbar {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 999;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  nav a {
    color: $white !important;
    font-family: 'Gill Sans';
    font-size: 14px;
    font-weight: 600;
    line-height: 77px;
    text-align: right;
    text-transform: uppercase;
  }
  nav a:hover {
    color: $link-yellow !important;
  }
  .is-active {
    color: $link-yellow !important;
  }
  .is-active::before {
    content: url('https://lws.impactpreview.com/wp-content/uploads/2018/06/scope-hovericon.svg');
    margin-right: 15px;
    position: relative;
    top: 7px;
  }
  #careersLink.is-active::before {
    content: none;
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
  display: none;
}
.navbar-toggler {
  border: none;
  height: 30px;
  width: 30px;
  margin-left: auto;
}
