.panel-text {
  color: $white;
  font-family: $Ashbury;
  font-size: 1.25vmax;
  font-weight: 300;
  line-height: 1.7vmax;
  margin-bottom: 2rem;
  text-align: center;
}
@media (max-width: 576px) {
  .panel-text {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
}

