.panel-title {
  color: #fad150;
  font-family: Metropolis;
  font-size: 5vh;
  font-weight: 200;
  line-height: 50px;
  text-align: center;
  text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.74), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
h1#homePanel3 {
  font-size: 4.25vh;
  font-weight: 200;
  line-height: 41px;
}
