div#SlideDiv {
  left: 0;
  top: 5%;
}
div#FrameDiv {
  bottom: 10%;
  right: 20%;
}
div#BarrelDiv {
  top: 0;
  right: 0;
}
div#ButtStockAssemblyDiv {
  left: 0;
}
div#FrontSightDiv {
  right: 0;
  top: 30%;
}
div#UpperReceiverDiv {
  right: 20%;
}
div#LowerReceiverDiv {
  left: 5%;
  bottom: 0;
}
div#BoltCarrierGroupDiv {
  bottom: 0;
}
