div#SlideDiv {
  left: 15%;
  top: 5%;
}
div#FrameDiv {
  bottom: 10%;
  right: 20%;
}
div#BarrelDiv {
  top: 0;
  right: 0;
}
div#ButtStockAssemblyDiv {
  left: -10%;
}
div#FrontSightDiv {
  right: -5%;
  top: 15%;
}
div#UpperReceiverDiv {
  right: 25%;
  top: -15%;
}
div#LowerReceiverDiv {
  left: 5%;
  bottom: 0;
}
div#BoltCarrierGroupDiv {
  bottom: -45%;
  right: 14%;
}
.parts-panel {
  height: 35vh;
}
.parts-image.invisible {
  height: 45vh;
}
.handgun {
  height: 40vh;
}
.rifle-image-wrapper {
  height: 35vh;
}
.rifle {
  height: 30vh;
}
@media (max-width: 576px) {
  .parts-image.invisible {
    height: 32vh;
  }
  .handgun {
    height: 32vh;
  }
  .rifle {  
    width: 95vw !important;
    transform: rotateY(25deg);
  }
}
