.embed-responsive .value-vid {
  height: 28vmax;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}
@media screen and (max-width: 991px) {
  .embed-responsive-21by9::before {
    padding-top: 50%
  }
}