#windStop {
  display: flex;
  left: 50%;
  height: fit-content;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
#windStop img {
  height: 91.69vh;
  opacity: .2;
  transform: rotate(0deg);
}
.rotating {
  animation-name: rotating; 
  animation-duration: 300s; 
  animation-timing-function: linear;
  animation-delay: 0; 
  animation-iteration-count: infinite;
  animation-direction: normal;
  transform: scale(2);
}

@keyframes rotating {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(90deg)
  }
  50% {
    transform: rotate(180deg)
  }
  75% {
    transform: rotate(270deg)
  }
  100% {
    transform: rotate(360deg)
  }
}