// Colors
$background-color: #0B2D55;
$white: #FEFFFE;
$link-yellow: #FAD150;

//Fonts
$Metropolis: "Metropolis Extra Light";
$Ashbury: "Ashbury";

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;